node_modules/

# Environment & config
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build / dist output
build/
dist/
.tmp/
.temp/

# System files
.DS_Store
Thumbs.db
*.swp

# IDE/editor
.vscode/
.idea/

# Caches & misc
.cache/
.sass-cache/
parcel-cache/
.eslintcache
.npm

# Dependency lockfiles (keep one if desired)
package-lock.json
# yarn.lock

# Sequelize migrations temp
migrations/

# Uploads / backups
uploads/
uploads/tmp/
backup/*.tmp

# Generated swagger (if produced locally)
swagger.json
node_modules/
